{% extends 'base.html' %}
{% block content %}
<h1>Here are all of the foods:</h1>
<hr />
{% for food in foods %}
    <div class="card">
        <div class="card-content">
            <a href="{% url 'detail' food.id %}">
            <span class="card-title">{{ food.name }}</span>
            </a>
            <p>Meal: {{ food.meal }}</p>
            <p>Category: {{ food.category }}</p>
            <p>Description: {{ food.description }}</p>
        </div>
    </div>
{% endfor %}
<p>Enter Food HERE:</p>

{% endblock %}